body{
	margin: 0
	font-family: 'helvitica', 'arial', sans-serif;
	font-size: 20px;
	line-height: 20px;


}

header{
	background-color: #d14635;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px
}
h1, h2{
	font-family: 'Titillium Web', sans-serif;
}

/*header styles*/

header h1{
	color: white;
	font-size: 50px

}

header img{
	border-radius: ;
	width: ;
	border: 5px solid white;
}

h2 img{
	border-radius: 170;
	width: 200px;
	border: 2px solid salmon;
}

main{
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}
main img{
	max-width: 100%
}
h2{
	font-size: 35px;
	color: red;
	margin: 10px;
}

a{
	color: #e70c19
}

a:hover{
	color: white;
	background-color: #483a94;
}

footer{
background-color: #d14635;
text-align: center;
color: white

}
footer p{
	margin: 0;
}
footer a{
	color: white;
}
footer a:hover{
	opacity: .5;
	background-color: transparent;
}

p.caption{
	color: #999999;
	font-style: italic;
	margin-top: 0;
}